#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - inc/
    ignoreErrors:
        - "#^Unsafe usage of new static#"
    checkGenericClassInNonGenericObjectType: false

# See full example in phpstan-full.neon
