#$ vendor/bin/phpstan analyze

includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - inc/
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Function view not found#'
        - '#Function app not found#'
        - '#Variable \$className might not be defined.#'
        - '#Variable \$value might not be defined.#'
        - '#Variable \$field might not be defined.#'

# See full example in phpstan-full.neon
